.header__text{
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-buttons{
        display: flex;
        justify-content: space-between;
    }
}