@import '../NavLogin/scss/navLogin';
@import '../NavSection/scss/navSection';

.nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 37px;
    
    &__wrapper {
        display: flex;
        justify-content: flex-end;
    } 
}