.mainSideElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    &__img{
        width: 83px;
    }
    &__line{
        margin: 10.5px 0;
        width: 70px;
        height: 0;
        border: 1px solid $mainSide-line-color;
    }
    &__title{
        margin-top: 10px;
        text-align: center;
    }
}